body {
    margin: 0px;
    padding: 0px;
    background-color: aliceblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#icon {
    width: 62px;
    position: absolute;
    left: 10px;
}

#navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(7, 49, 98);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.jogadores {
    display: flex;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-around;
    background-color: #E5E7EB;
    padding: 15px;
    margin: 40px;
    border-radius: 20px;

}

.jogador {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: rgb(255, 255, 255);
    background-color: #1D428A;
    border: 4px solid #C8102E;
    width: 320px;
}

.jogador p {
    width: 300px;
    margin-right: auto;
    margin-left: auto ;
}

.img_jogador {
    width: 320px;
    height: 200px;
}

footer {
    background-color:red;
    padding: 10px;
    text-align: center;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.fixed-gif {
    position: fixed;
    bottom: 0;
    right: 0;
}

.fixed-gif img {
    width: 300px;
}

.escalacao {
    display: flex;
    flex-direction: column;
    background-color: rgb(7, 49, 98);
    padding: 6px;
    margin: 40px;
    border-radius: 20px;
    color: white;
}

#oeste {
    background-color: #C8102E;
}

.escalacao-titulo {
    margin: 0 auto;
}

.escalacao-jogadores {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 100px;
}

.escalacao-jogadores img {
    background-position: center; 
    background-size: contain; 
    background-repeat: no-repeat;
}

.jogador-icon {
    max-width: 200px;
}

.duplas {
    text-align: center;
}